.header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #132043;
  justify-content: center;

  div {
    display: flex;
    width: calc(100% / 3);

    h2 {
      color: #fdf0f0;
    }
  }
}

.logout-wrapper {
  position: absolute;
  left: 90%;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.logout-button {
  height: 35px !important;
  width: 80px !important;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}
